[Desktop Entry]
Encoding=UTF-8
Name=MasterWin
Comment=MasterWin P2P Cryptocurrency
Comment[fr]=MasterWin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MasterWin, eşten eşe kriptografik sanal para birimi
Exec=masterwin-qt %u
Terminal=false
Type=Application
Icon=masterwin128
MimeType=x-scheme-handler/masterwin;
Categories=Office;Finance;
