.dirstamp
*.o
*.a
*.Po
*.Plo
*.Tpo
src/masterwin-cli
src/masterwin-tx
src/masterwind
src/test/buildenv.py
src/test/data/*.h
autom4te.cache/*
Makefile
Makefile.in
aclocal.m4
build_cmd
config.log
config.status
configure
contrib/devtools/split-debug.sh
libtool
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
share/qt/Info.plist
share/setup.nsi
src/Makefile
src/Makefile.in
src/config/masterwin-config.h
src/config/stamp-h1
